@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-chart-5: var(--chart-5);
    --color-chart-4: var(--chart-4);
    --color-chart-3: var(--chart-3);
    --color-chart-2: var(--chart-2);
    --color-chart-1: var(--chart-1);
    --color-ring: var(--ring);
    --color-input: var(--input);
    --color-border: var(--border);
    --color-destructive-foreground: var(--destructive-foreground);
    --color-destructive: var(--destructive);
    --color-accent-foreground: var(--accent-foreground);
    --color-accent: var(--accent);
    --color-muted-foreground: var(--muted-foreground);
    --color-muted: var(--muted);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-secondary: var(--secondary);
    --color-primary-foreground: var(--primary-foreground);
    --color-primary: var(--primary);
    --color-popover-foreground: var(--popover-foreground);
    --color-popover: var(--popover);
    --color-card-foreground: var(--card-foreground);
    --color-card: var(--card);
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
}

:root {
    --background: oklch(1 0 0);
    --foreground: oklch(0.27 0.03 95);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.27 0.03 95);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.27 0.03 95);
    --primary: oklch(0.74 0.23 50);
    --primary-foreground: oklch(0.97 0.02 120);
    --secondary: oklch(0.98 0.032 100);
    --secondary-foreground: oklch(0.1 0.098 24);
    --muted: oklch(0.96 0.02 120);
    --muted-foreground: oklch(0.55 0.02 85);
    --accent: oklch(0.96 0.02 120);
    --accent-foreground: oklch(0.32 0.04 50);
    --destructive: oklch(0.66 0.24 25);
    --destructive-foreground: oklch(0.97 0.02 120);
    --border: oklch(0.89 0.059 90);
    --input: oklch(0.89 0 90);
    --ring: oklch(0.901 0 89.876);
    --radius: 18px;
    --chart-1: oklch(0.7 0.25 60);
    --chart-2: oklch(0.55 0.22 160);
    --chart-3: oklch(0.45 0.2 200);
    --chart-4: oklch(0.8 0.22 80);
    --chart-5: oklch(0.78 0.25 70);
}

.dark {
    --background: oklch(0.27 0.03 95);
    --foreground: oklch(0.97 0.02 120);
    --card: oklch(0.27 0.03 95);
    --card-foreground: oklch(0.97 0.02 120);
    --popover: oklch(0.27 0.03 95);
    --popover-foreground: oklch(0.97 0.02 120);
    --primary: oklch(0.67 0.23 30);
    --primary-foreground: oklch(0.97 0.02 120);
    --secondary: oklch(0.32 0.02 60);
    --secondary-foreground: oklch(0.97 0.02 120);
    --muted: oklch(0.32 0.02 60);
    --muted-foreground: oklch(0.65 0.02 40);
    --accent: oklch(0.32 0.02 60);
    --accent-foreground: oklch(0.97 0.02 120);
    --destructive: oklch(0.58 0.24 20);
    --destructive-foreground: oklch(0.97 0.02 120);
    --border: oklch(0.89 0.059 90);
    --input: oklch(0.89 0 90);
    --ring: oklch(0.74 0.95 53.1);
    --radius: 18px;
    --chart-1: oklch(0.62 0.24 220);
    --chart-2: oklch(0.55 0.22 160);
    --chart-3: oklch(0.72 0.23 40);
    --chart-4: oklch(0.65 0.22 280);
    --chart-5: oklch(0.7 0.24 340);
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }

    body {
        @apply bg-background text-foreground;
    }
}
